body{
    text-align: center; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.Enlace__1{
    color: yellow;
    text-decoration: underline;
}
.Enlace__2{
    color: purple;
    text-decoration: underline;
}